

#grille 
{
	border: 3px solid black;
	justify-content: center;
    display: grid;
    grid-template-columns: repeat(19, 40px);
    grid-template-rows: repeat(22, 40px);

}

.mur
{
    background-image: url('./img/mur.gif');
}

.sol
{
    background-image: url('./img/sol.gif');
}

.bonbon
{
    background-image: url('./img/bonbon.gif');
}
.fantome0
{
	background-image: url('./img/fantome0.gif');
}

.pacman
{
    background-image: url('./img/pacman4.gif');
    z-index: 10;  
}



h5
{
	text-align: center;
    background-color: #0AD;
    font-weight: bold;
}
.img
{	
	text-align: center;
	margin: 5px;
}
.pac
{

}

